<!DOCTYPE html>
<html lang="da">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../css/style.css">
  <title>BookBeauty - Vælg handling</title>
</head>
<body>

<div class="mobile-wrapper">

  <div class="header">
    <img src="../images/pureskin.png" alt="Pureskin">
  </div>

  <div class="info">
    <h2>Pureskin</h2>
    <p>Admiralvej 2, 2610 Rødovre</p>
  </div>

  <button class="action-button" onclick="location.href='ledige_tider.html?type=normal'">Book tid</button>
  <button class="action-button" onclick="location.href='ledige_tider.html?type=afbud'">Book afbudstid</button>  
  <button class="action-button" onclick="location.href='annuller_tid.html'">Annuller tid</button>
  <div class="bottom-nav">
    <button onclick="location.href='vaelg_behandler.html'">🏠 Hjem</button>
    <button onclick="location.href='ledige_tider.html?type=normal'">📅 Book tid</button>
    <button onclick="location.href='min_booking.html'">🧾 Min booking</button>
  </div>
  
  
</div>

</body>
</html>
