<!DOCTYPE html>
<html lang="da">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../css/index.css">
  <script src="../js/script.js" defer></script>
  <title>BookBeauty - Log ind</title>
</head>
<body>

<div class="mobile-wrapper">
  <div class="logo">
    <img src="../images/logo.png" alt="BookBeauty logo">
  </div>

  <h1>Velkommen</h1>

  <form onsubmit="loginUser(event)" style="text-align: center;">
    <input type="email" id="login-email" placeholder="E-mail" required /><br />
    <input type="password" id="login-password" placeholder="Kodeord" required /><br />
    <button type="submit">Log ind</button>
  </form>
  
  <div class="forgot">Glemt kodeord</div><br />
  

  <button onclick="location.href='signup.html'">Opret som kunde</button>
  <button onclick="location.href='signup_business.html'">Opret som erhvervsdrivende</button>
  
  <div class="forgot">Glemt kodeord</div>

</body>
</html>
